/* Definindo fontes */
@font-face {
    font-family: "Unbounded"; 
    src: url(fonts/Unbounded-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins"; 
    src: url(fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 170px 0;
}

.dark-mode {
    cursor: pointer;
}


body{
    background-color: #ffffff;
}

h1{
    font-size: 64px;
    font-family: "Unbounded", arial, sans-serif;
    font-weight: bold;
    color: #9747FF;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 24px;
}

h1 span{
    color: #232323;
}

p{
    font-size: 24px;
    font-family: "Poppins", arial, sans-serif;
    text-align: center;
    color: #232323;
    margin: 24px auto 0;
    width: 792px;
}

a{
    color: #ffffff;
    font-family: "Poppins", arial, sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
    transition: 0.3s;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

footer p{
    font-size: 14px;
    color: black;
    margin: 50px auto 10px;
}

@media(max-width: 430px){

    .topo{
        margin: 25px 20px;
    }

    .logo{
        width: 150px;
        height: auto;
    }

    .dark-mode{
        width: 30px;
        height: 30px;
    }

    h1{
        margin-top: 50px;
        font-size: 56px;
    }

    p{
        font-size: 20px;
        width: 340px;
    }

    a{
        font-size: 20px;
        width: 251px;
    }

    section img{
        width: 340px;
        height: 230px;
    }

    footer p{
        font-size: 10px;
        
    }
}
